<form id="add-card-form">
  <input type="hidden" name="card[list_id]" value="<%= list.id %>">
  <input type="hidden" name="card[rank]" value="99">
  <div class="input-group">
  <label for="card-title"></label>
    <input type="text" name="card[title]" placeholder="Add New Card" id="card-title" class="form-control">
  </div>
</form>