<div class="col-md-3">
  <form id="add-board-form">
    <label for="board-title"></label>
      <input type="text" name="board[title]" placeholder="New Board Title" id="board-title" class="form-control">
  </form>
</div>