<div class="col-md-3">
  <form id="add-board-form">
  <div class="input-group">
    <label for="board-title"></label>
      <input type="text" name="list[title]" placeholder="New Board Title" id="board-title" class="form-control">
    <span class="input-group-btn">
      <input class="btn btn-primary" type="submit" value="Add New Board">
    </span>
  </div>
  </form>
</div>