<div class="row">
  <div class="col-md-12 board-view">
    <h2><%= board.escape("title") %></h2>
    <button class="btn btn-danger btn-sm" id="delete-board-button">Delete This Board</button></div>
</div>
<div class="row">
  <div class="list-new col-md-3"></div>
</div>
<div class="row">
    <ul class="lists"></ul>
</div>