/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$boarder: 5px;
$main-color: #5A966E;
$navbar-default-bg: darken($main-color, 10%);
$navbar-default-color: white;
$navbar-default-link-color: white;
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

@import url(http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,700);
@import "bootstrap";
body{
  background-color: $main-color;
}

h2{
  font-weight: 700;
}

.navbar{
  font-family: "Pacifico", sans-serif;
  .navbar-brand{
    font-size: 28px;
  }
}

.board-view{
  color: white;
}

.list-box {
  border: 3px solid #999;
  border-radius: $boarder;
  padding: 15px 15px 45px 15px;
  min-height: 300px;
  margin-top: 20px;
  background-color: #bbb;
}

.board-square{
  background-color: #888;
  color: white;
  height: 200px;
  border-radius: $boarder;
  padding: 50px;
  margin-top: 20px;
  text-align: center;
  a{
    color: white;
  }
}

ul.cards{
  list-style: none;
  padding-left: 0;
  min-height: 50px;
}

.card{
  margin-top: 10px;
  padding: 5px;
  min-height: 30px;
  background-color: #eee;
  border-radius: $boarder;
  transition: background-color 0.5s ease;
}

.card:hover{
  background-color: #999;
  .card-delete-button{
    display: inline;
  }
}

.card-delete-button{
  height: 20px;
  width: 20px;
  text-align: center;
  padding: 0px 3px 4px 3px;
  font-weight: bold;
  display: none;
}

.delete-button-wrapper{
  height: 20px;
  width: 20px;
  display: block;
}

.cards-new{
  position: absolute;
  bottom: 5px;
}

.dragged{
  transform: rotate(5deg) !important;
  -ms-transform: rotate(5deg) !important; /* IE 9 */
  -webkit-transform: rotate(5deg) !important; /* Chrome, Safari, Opera */
  // box-shadow: -3px 3px 3px #888;
}

.form-control{
  max-height: 30px;
}

.lists{
  list-style: none;
  padding-left: 0;
  display: inline;
}

.lists > li {
  float: left;
  max-width: 25%;
}

.list-wrapper{
  min-height: 300px;
}

.ui-sortable-placeholder{
  visibility: visible !important;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: $boarder;
}