/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

@import "bootstrap";
body{
  background-color: #5A966E;
}

.board-view{
  color: white;
}
.list-box {
  border: 3px solid #999;
  border-radius: 5px;
  padding: 15px;
  min-height: 300px;
  margin-top: 20px;
  background-color: #bbb;
}

.board-square{
  background-color: #888;
  color: white;
  height: 200px;
  border-radius: 5px;
  padding: 50px;
  margin-top: 20px;
  text-align: center;
  a{
    color: white;
  }
}

ul.cards{
  list-style: none;
  padding-left: 0;
}

.card{
  margin-top: 10px;
  padding: 5px;
  min-height: 30px;
  background-color: #eee;
  border-radius: 5px;
}

.card-delete-button{
  height: 20px;
  width: 20px;
}

.hidden{
  display: none;
}

.delete-button-wrapper{
  height: 20px;
  width: 20px;
  display: block;
}

.cards-new{
  position: absolute;
  bottom: 5px;
}