/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
// .board {
//   border: 3px solid #999;
//   border-radius: 10px;
//   padding: 15px;
//   min-height: 300px;
//   margin-top: 20px;
//   float: left;
// }
.board-square{
  background-color: #888;
  color: white;
  height: 200px;
  border-radius: 10px;
  padding: 50px;
  margin-top: 20px;
  a{
    color: white;
  }
}