<form id="add-list-form">
  <input type="hidden" name="list[board_id]" value="<%= board.id %>">
  <input type="hidden" name="list[rank]" value="1">
  <label for="list-title"></label>
    <input type="text" name="list[title]" placeholder="Add New List" id="list-title" class="form-control">
</form>